body {
    margin: 0;
    background-color: #eee;

}

footer {
    padding: 2rem 2rem;
    background-color: coral;
    margin-bottom: 0;
    text-align: left;
}

header {
    background-color: chartreuse;
    padding: 2rem 1rem;
    text-align: center;
}


article {
    padding: 1rem;
    background-color: white;
    margin: 1rem 30%;
    text-align: center;
}